@media (max-width: 1356px) {
  .wrapper {
    width: 100%;
  }
  .catalog__item {
    width: 216px;
    margin-right: 10px;
  }
  .catalog__buy {
    width: 90px;
  }
  .catalog__click {
    width: 105px;
    font-size: 12px;
  }
  .blog__slide {
    width: 290px;
  }
  .brand__slide {
    width: 212px;
    margin-right: 14px;
  }
  .brand__slider {
    margin-right: -14px;
  }
}
